<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yakirlaptop.ssproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ListUsersActivity" />
        <activity android:name=".Activities.EditUserActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.CustomerActivity" />
        <activity android:name=".Activities.AdminActivity" />
        <activity android:name=".Activities.AddProductActivity" />
        <activity android:name=".Activities.ListProductsActivity" />
        <activity android:name=".Activities.EditProductActivity" />
        <activity android:name=".Activities.ChangeProductActivity" />
        <activity android:name=".Activities.ListSuppliersActivity" />
        <activity android:name=".Activities.EditSupplierActivity" />
        <activity android:name=".Activities.AddSupplierActivity" />
        <activity android:name=".Activities.ShopProductsActivity" />
        <activity android:name=".Activities.EditShopProductActivity" />
        <activity android:name=".Activities.CartActivity" />
        <activity android:name=".Activities.OrderProductActivity" />
        <activity android:name=".Activities.EditCartActivity" />
        <activity android:name=".Activities.EditAdminPassword"></activity>
    </application>

</manifest>